@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;900&display=swap");

body {
  margin: 0;
  padding: 0;
  background: rgb(110, 118, 241);
  font-family: "Montserrat", sans-serif;
}

div {
  box-sizing: border-box;
}

header {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: rgba(72, 76, 141, 0.705);
  box-shadow: 2px 0px 2px grey;
  position: fixed;
  top: 0;
  z-index: 100;
}

.nav-block .nav-link {
  display: inline-block;
  padding: 10px;
  margin-right: 10px;
  background: rgba(255, 255, 255, 0.1);
  text-decoration: none;
  color: #fff;
  border-radius: 10px;
  border: 1px solid rgba(61, 54, 41, 0);
  transition: all 0.5s;
}

.nav-block .nav-link:hover {
  opacity: 0.8;
  border: 1px solid orange;
  box-shadow: 0 0 8px orange;
}

h2 {
  color: #fff;
  text-align: center;
  margin-top: 100px;
}

h1 {
  font-size: 30px;
  color: #fff;
  text-align: center;
}

.main-content .wrapper {
  width: 90vw;
  /* min-height: 1200px; */
  background-color: #fff;
  font-size: 20px;
  font-weight: 700;
  margin: 10px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 3px 1px 11px 5px rgba(51, 57, 56, 0.57);
}

/*---------13 УРОК-------------------------------*/

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  /* grid-template-columns: 2fr 1fr 1fr; */
  grid-template-rows: 1fr 2fr 1fr;
  column-gap: 10px;
  row-gap: 10px;
}

.grid-box {
  padding: 10px;
  min-height: 200px;
  font-size: 30px;
  color: #fff;
  background-image: url("https://codetheweb.blog/assets/img/posts/css-advanced-background-images/cover.jpg");
  background-size: cover;
  background-position: center;
  transition: all 0.5s;
  box-shadow: 0 0 5px rgb(70, 64, 64);
  border-radius: 8px;
}

.grid-box:hover {
  transform: scale(1.05, 1.05);
}

.my-container {
  /* height: 800px; */
  display: grid;
  /* justify-items: stretch; */
  /* align-content: space-between; */
  grid-template-columns: 1fr 1fr 1fr;
  /* grid-template-rows: 1fr 1fr 5fr 2fr; */

  grid: "h h h" "n n n" "a m m " "art1 art2 art3" "f f f";
  column-gap: 10px;
  row-gap: 10px;
}

.my-container .my-header {
  grid-area: h;
}

.my-container .my-aside {
  /* align-self: start; */
  grid-area: a;
}

.my-container .my-nav ul {
  display: flex;
  justify-content: space-between;
}
.my-container .my-nav {
  grid-area: n;
}

.my-container .my-main {
  grid-area: m;
}
.my-container my-article-first {
  grid-area: art1;
}
.my-container my-article-second {
  grid-area: art2;
}
.my-container my-article-third {
  grid-area: art3;
}

.my-container .my-footer {
  display: flex;
  grid-area: f;
}

.bg {
  border-radius: 8px;
  padding: 10px;
  color: #fff;
  background-image: url("https://freehtmldesigns.com/wp-content/uploads/2017/09/CSS-Background-Pattern-1-1-660x330.png");
  background-size: cover;
  background-position: center;
}

/* Now let’s see some common breakpoints for widths of devices:

320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
1201px and more —  Extra large screens, TV */

@media screen and (max-width: 1024px) {
  .main-content .wrapper {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .my-container {
    grid-template-columns: 1fr;
    grid: "h" "n" "a" "m" "art1" "art1" "art2" "art3" "f";
  }
}
