a {
  color: black;
}

.link {
  font-size: 30px;
  color: rgb(255, 0, 0);
}

header .link {
  color: rgb(255, 162, 0);
}

#text {
  font-size: 30px;
  color: rgb(0, 255, 0);
}

.text {
  font-size: 24px;
  color: rgb(255, 0, 174);
}


