@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;900&display=swap");

body {
  background: rgb(110, 118, 241);
  font-family: "Montserrat", sans-serif;
}

header {
  display: flex;
  justify-content: space-around;
  align-content: center;
}

header a {
  text-decoration: none;
}

h1,
h2 {
  color: #fff;
  text-align: center;
}

h1 {
  font-size: 30px;
}

.main-content .wrapper {
  width: 85vw;
  background-color: #fff;
  font-size: 20px;
  font-weight: 700;
  margin: 10px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 3px 1px 11px 5px rgba(51, 57, 56, 0.57);
}

footer {
  text-align: right;
  margin-top: 20px;
}

footer p {
  font-size: 25px;
  color: black;
}

.main-content .text-a {
  /*Свойство управляет высотой строки или межстрочным интервалом.*/
  line-height: 30px;


  /* text-indent: 1.5em;*/
  text-indent: 30px;

  font-size: 30px; 
  /* font-size: 200%;
  font-size: 0.5em; */
  /*font-size: 1.2rem;*/
  /* font-size: 30px; */
  /* font-size: small; */
}

.main-content .text-b {
  font-family: "Montserrat", sans-serif;
  /* font-family: "PT Sans", "Arial", sans-serif; */

  font-weight: 700; /* light - 300 , 400- normal, bold - 700, bolder,*/

  font-style: normal; /* italic курсив, oblique - наклонное начертание даже если нет курсива */

  font-variant: small-caps; /*normal Капитель*/

  text-decoration: underline; /*Подчеркивание*/
  /* text-decoration: line-through; /*Зачеркивание*/
  /* text-decoration: overline; Надчеркивание */
  /* text-decoration: none; */
  /* text-decoration: inherit; */

  /* text-decoration-style: solid; */
   text-decoration-style: double;
  /* text-decoration-style: dotted; */
  /* text-decoration-style: dashed; */
  /* text-decoration-style: wavy;  */

  text-decoration-color: rgb(189, 134, 32);

  text-decoration: line-through wavy #ff0000;
}

/*  text-decoration состоит из text-decoration-line и text-decoration-style*/

.main-content .text-b span {
  text-decoration: underline line-through;
}

.main-content .text-c {
  /*  смещение относительно надписи и радиус размытия, цвет тени, */
  text-shadow: 10px 10px 10px #00aa00;

  /* все строчные */
  text-transform: lowercase;
  /* все заглавные */
  /* text-transform: uppercase; */
  /* каждое слово начинается с большой буквы */
  /* text-transform: capitalize; */
  /* отменяет изменение регистра */
  /* text-transform: none; */
}

.main-content .text-d {
  letter-spacing: 5px;
  word-spacing: 10px;
  line-height: 100px;
  text-indent: 30px;
  height: 100px;

  /* text-align: center; */
  text-align: left ;
  /* text-align: right ; */
  text-align: justify ;

  /* vertical-align: middle; */
  /* vertical-align:top ; */
  vertical-align:bottom ;
  /* vertical-align:baseline ; */

  white-space: normal;
  /* white-space: pre ;
  white-space: nowrap ;
  white-space: pre-wrap;
  white-space: pre-line; */
}

.list-a {
  /* list-style-type: disc; */
  /* list-style-type: none; */
  /* list-style-type: decimal; */
  /* list-style-type: lower-roman; */
  /* list-style-type: upper-roman; */
  /* list-style-type: lower-latin; */
  /* list-style-type: upper-latin;  */

  /* list-style-image: url(https://www.drupal.org/favicon.ico); */
  /* none Отменяет изображение в качестве маркера для родительского элемента. */
  /* inherit Наследует значение родителя.*/
}

.table {
  width: 100%;
  /* caption-side: top; */
  caption-side: bottom;

  /* border-collapse: collapse; */
  border-collapse: separate;

  empty-cells: show;
  empty-cells: hide;

  border-spacing: 5px 15px;

  vertical-align: top;
  border: 1px solid #888;
}
.table td {
  text-align: center;
  /* border: 1px solid rgb(167, 71, 71); */
  /* border-radius: 40%; */
}
