body {
  background: rgb(110, 118, 241);
  font-family: "Montserrat", sans-serif;
}

header {
  display: flex;
  justify-content: space-around;
  align-content: center;
}

header a {
  text-decoration: none;
}

h1,
h2 {
  color: #fff;
  text-align: center;
}

h1 {
  font-size: 30px;
}

.main-content .wrapper {
  width: 85vw;
  min-height: 70vh;
  background-color: #fff;
  font-size: 20px;
  font-weight: 700;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 3px 1px 11px 5px rgba(51, 57, 56, 0.57);
}

footer {
  text-align: right;
  margin-top: 20px;
}

footer p {
  font-size: 25px;
  color: black;
}

.main-content .text-a::before {
  content: "Добавленный с помощью before ";
  color: #ff0000;
}
.main-content .text-a::after {
  content: " Тескт добавленный с помощью after";
  color: #00ff00;
}
.main-content .text-b::first-letter {
  color: #0000ff;
  font-size: 25px;
  margin-left: 20px;
}

/* К псевдоэлементу :first-line могут применяться не все стилевые свойства. Допустимо использовать свойства, относящиеся к шрифту, изменению цвет текста и фона, а также: clear, line-height, letter-spacing, text-decoration, text-transform, vertical-align и word-spacing. */

.main-content .text-c::first-line {
  color: #999999;
  font-size: 25px;
}

.main-content .empty::before {
  content: "BLOCK";
  text-align: center;
  line-height: 100px;
  vertical-align: middle;
  display: block;
  width: 100px;
  height: 100px;
  background: rgb(44, 167, 81);
  transition: all 0.3s;
}

.empty:hover::before {
  background: rgb(179, 46, 46);
}
